{
    "PetBasicInfoFunction": {
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "MONGODB_URI": "",
        "ALLOWED_ORIGINS": "",
        "TEST_PET_ID": "",
        "TEST_OWNER_USER_ID": ""
    },
    "PetLostandFoundFunction": {
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "ALLOWED_ORIGINS": "",
        "MONGODB_URI": "",
        
        "AWSACCESSID": "",
        "AWSSECRETKEY": "",
        "AWS_BUCKET_REGION": "",
        "AWS_BUCKET_BASE_URL": "",
        "AWS_BUCKET_NAME": ""
    },
    "EyeUploadFunction": {        
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "MONGODB_URI": "",
        "ALLOWED_ORIGINS": "",

        "AWSACCESSID": "",
        "AWSSECRETKEY": "",
        "AWS_BUCKET_REGION": "",
        "AWS_BUCKET_BASE_URL": "",
        "AWS_BUCKET_NAME": "",

        "DOCKER_IMAGE": "",
        "BREED_DOCKER_IMAGE": "",
        "HEATMAP": "",
        "VM_BREED_PUBLIC_IP": "",
        "VM_PUBLIC_IP": ""
    },
    "PetDetailInfoFunction": {
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "ALLOWED_ORIGINS": "",
        "MONGODB_URI": "",
        "TEST_PET_ID": "",
        "TEST_OWNER_USER_ID": "",
        "TEST_NGO_ID": ""
    },
    "AuthRouteFunction": {
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "ALLOWED_ORIGINS": "",
        "MONGODB_URI": "",
        "REFRESH_TOKEN_MAX_AGE_SEC": ""
    },
    "GetAllPetsFunction": {
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "ALLOWED_ORIGINS": "",
        "MONGODB_URI": "",
        
        "TEST_NGO_ID": "",
        "TEST_OWNER_USER_ID": "",
        "TEST_PET_ID": "",
        "TEST_DISPOSABLE_PET_ID": ""
    },
    "EmailVerificationFunction": {
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "ALLOWED_ORIGINS": "",
        "MONGODB_URI": "",
        "SMTP_HOST": "",
        "SMTP_PASS": "",
        "SMTP_USER": "",
        "REFRESH_TOKEN_MAX_AGE_SEC": ""
    },
    "UserRoutesFunction": {
        "TWILIO_ACCOUNT_SID": "",
        "TWILIO_AUTH_TOKEN": "",
        "TWILIO_VERIFY_SERVICE_SID": "",
        "JWT_SECRET": "",
        "JWT_BYPASS": "",
        "MONGODB_URI": "",
        "ALLOWED_ORIGINS": "",
        "REFRESH_TOKEN_MAX_AGE_SEC": ""
    }
}