<style>
  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F6F6F6;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 8%;
    height: 70px;
    transition: height 0.5s ease-out;
  }

  .navigation-bar.shrunk {
    height: 35px;
  }

  #ppcImg {
    height: 20px;
    width: auto;
  }

  .navigation-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
  }

  .navigation-bar ul li a {
    color: #020D0E;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  .navigation-bar ul li a:hover {
    color: #ddd;
    /* Hover effect */
  }

  .button-get-started-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  .button-get-started {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #31BACE;
    background: #31BACE;
    text-decoration: none;
  }

  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
  }

  .earth-icon {
    position: relative;
  }

  .earth-icon:hover svg path {
    fill: #31BACE;
    cursor: pointer;
  }

  .dropdown-menu-bar {
    display: none;
    flex-direction: column;
    width: 75px;
    justify-content: center;
    align-items: center;
    border: 0px solid #E6E6E6;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: white;
  }

  .eng-lang,
  .chn-lang {
    display: flex;
    gap: 15px;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 0.937px solid #E6E6E6;
    width: 100%;
  }

  .eng-lang div,
  .chn-lang div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
  }


  .eng-lang:hover,
  .chn-lang:hover {
    background-color: #B7B7B7;
    cursor: pointer;
  }

  @media screen and (max-width: 1220px) {
    .navigation-bar {
      flex-wrap: wrap;
      position: relative;
      margin: 0;
      padding: 10px 8%;
      height: 90px;
    }

    .navigation-bar ul {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: white;
      padding: 15px 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navigation-bar ul.active {
      display: flex;
    }

    .navigation-bar ul li {
      text-align: center;
      padding: 10px 0;
    }

    .button-get-started {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .navigation-bar.shrunk {
      height: 60px;
    }
  }

  @media screen and (max-width: 390px) {
    .navigation-bar ul {
      gap: 25px;
    }
  }
</style>

<div class="sticky-header">
  <nav class="navigation-bar">
    <a href="https://uat1.petpetclub.com.hk/index.html"><img id="ppcImg"
        src="https://petpetclub.com.hk/images/LOGO_Pet%20Pet%20Club_text.png" alt="PPC"></a>
    <button class="hamburger">☰</button>
    <ul id="nav-links">
      <li><a href="https://uat1.petpetclub.com.hk/index.html">Home</a></li>
      <li><a href="https://uat1.petpetclub.com.hk/PHealth.html">PHealth</a></li>
      <li><a href="https://uat1.petpetclub.com.hk/PetLost.html">Pet Lost</a></li>
      <!-- <li><a href="Adoption.html">Adoption</a></li> -->
      <li><a href="">Adoption</a></li>
      <li><a href="https://uat1.petpetclub.com.hk/news_events.html">News & Events</a></li>
      <div class="earth-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M2 12H22" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M12 2C14.5013 4.73835 15.9228 8.29203 16 12C15.9228 15.708 14.5013 19.2616 12 22C9.49872 19.2616 8.07725 15.708 8 12C8.07725 8.29203 9.49872 4.73835 12 2Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div class="dropdown-menu-bar">
          <a href="" class="chn-lang"
            onclick="<% if (lang == 'zh') { %>changeLanguage('en')<% } else { %>changeLanguage('zh')<% } %>"
            style="text-decoration: none; color: #000000;">
            <div>繁</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
              <path
                d="M20.303 4.846l.882.882-12.22 12.452-6.115-5.93.902-.902 5.303 5.028 11.248-11.53zm-.018-2.846l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285-3.715-3.715z" />
            </svg>
          </a>
          <a href="" class="eng-lang"
            onclick="<% if (lang == 'zh') { %>changeLanguage('en')<% } else { %>changeLanguage('zh')<% } %>"
            style="text-decoration: none; color: #000000;">
            <div>ENG</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
              <path
                d="M20.303 4.846l.882.882-12.22 12.452-6.115-5.93.902-.902 5.303 5.028 11.248-11.53zm-.018-2.846l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285-3.715-3.715z" />
            </svg>
          </a>
        </div>
      </div>
      <a style="text-decoration: none;" class="button-get-started" href="https://uat1.petpetclub.com.hk/index.html">
        <div class="button-get-started-text">Get in touch</div>
      </a>
    </ul>
  </nav>
</div>

<script>
  function changeLanguage(language) {
    //scroll sticky header transition
    // document.cookie = "language=" + language + "; path=/";
    // var language;
    // // Update the language cookie
    // if (window.localStorage.getItem("Language") == 'zh') {
    //   language = 'en';
    // } else {
    //   language = 'zh'
    // }
    console.log("click");
    document.cookie = "language=" + language + "; path=/";
    // window.localStorage.setItem("Language", language);
    // console.log('setItem is fired', window.localStorage.getItem("Language"));
  }

  window.addEventListener('scroll', function () {
    const header = document.querySelector('.navigation-bar');
    if (window.scrollY > 50) { /* Trigger shrink after scrolling 50px */
      header.classList.add('shrunk');
    } else {
      header.classList.remove('shrunk');
    }
  });

  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('#nav-links');

  //for dropdown header menu
  hamburger.addEventListener('click', () => {
    navLinks.classList.toggle('active');
    hamburger.textContent = navLinks.classList.contains('active') ? '✕' : '☰';
  });

  document.addEventListener('click', (event) => {
    if (!navLinks.contains(event.target) && !hamburger.contains(event.target)) {
      navLinks.classList.remove('active');
      hamburger.textContent = '☰';
    }
  });

  document.addEventListener('DOMContentLoaded', () => {
    const dropdownIcon = document.querySelector('.earth-icon');
    const dropdownMenu = document.querySelector('.dropdown-menu-bar');
    const engLang_checkmark = document.querySelector('.eng-lang svg');
    const chnLang_checkmark = document.querySelector('.chn-lang svg');

    dropdownIcon.addEventListener('click', () => {
      dropdownMenu.style.display = 'flex';
      if (lang == 'zh') {
        engLang_checkmark.style.display = 'none';
        chnLang_checkmark.style.display = 'block';
      }
      else {
        engLang_checkmark.style.display = 'block';
        chnLang_checkmark.style.display = 'none';
      }
    });

    document.addEventListener('click', (event) => {
      if (!dropdownIcon.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.style.display = 'none';
      }
    });
  });
</script>