<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <script>
        const lang = "<%=lang%>";
        let url = new URL(window.location.href);
        let search_params = url.searchParams;
        const page = search_params.get("page");
        if (page == null || page == undefined || page == "") {
            search_params.set("page", "1");
            url.search = search_params.toString();
            window.history.pushState("", "", url.toString());
            window.location.href = url;
        }
        const locationParam = search_params.getAll("location");
        const animalTypeParam = search_params.getAll("animal_type");
        const sexParam = search_params.getAll("sex");
        const ageParam = search_params.getAll("age");
        let pagination = [];
        let currentPage = Number(page);
        let maxPage = 0;

        function showFilterButton() {
            const filterSidebar = document.querySelector(".filter-sidebar");
            const opaqueBg = document.querySelector(".emptySidebar");
            filterSidebar.classList.add("filter-sidebar-hp");
            filterSidebar.classList.remove("filter-sidebar");
            opaqueBg.style.display = "block";
        }

        function closeFilterButton() {
            const filterSidebar = document.querySelector(".filter-sidebar-hp");
            const opaqueBg = document.querySelector(".emptySidebar");
            filterSidebar.classList.remove("filter-sidebar-hp");
            filterSidebar.classList.add("filter-sidebar");
            opaqueBg.style.display = "none";
        }

        function showList(id) {
            const filterItem = document.getElementById(id);
            const image = document.getElementById(`${id}List`);
            if (filterItem.classList.contains("hide")) {
                filterItem.classList.add("d-flex");
                filterItem.classList.remove("hide");
                image.setAttribute("src", "https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/68230d66e3965735838be261.png");
            } else {
                filterItem.classList.remove("d-flex");
                filterItem.classList.add("hide");
                image.setAttribute("src", "https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/682411fae3965735838c5760.png");

            }
        }

        function imgError(image) {
            image.onerror = "";
            image.src = "https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/67bd6f89d80c435bfa35d35e.jpg";
            return true;
        }

        async function fetchAdoptionList(params) {
            await fetch(`https://api.phealth.com.hk/api/adoption${params}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                // await fetch(`http://localhost:8984/api/adoption${params}`, {
                //     method: "GET",
                //     headers: {
                //     "Content-Type": "application/json",
                //     },
                // })
                .then((response) => response.json())
                .then((data) => {
                    console.log("DATA FETCHED: ", data);
                    const dataElement = document.querySelector('#petList');
                    dataElement.replaceChildren();
                    if (data.adoptionList.length != 0) {
                        data.adoptionList.forEach((item, index) => {
                            let gender;
                            let breed;
                            let age;
                            let name;
                            if (item.Breed == "unknown" || item.Breed == "Unknown" || item.Breed == undefined) {
                                breed = "N/A";
                            } else {
                                breed = item.Breed;
                            }

                            if (item.Sex == undefined || item.Sex == "unknown" || item.Sex == "Unknown") {
                                gender = "<% if (lang == 'zh') { %>未知<% } else { %>Unknown<% } %>";
                            } else if (item.Sex == "F") {
                                if (lang == "zh") {
                                    gender = "雌性";
                                } else {
                                    gender = "Female";
                                }
                            } else if (item.Sex == "M") {
                                if (lang == "zh") {
                                    gender = "雄性"
                                } else {
                                    gender = "Male"
                                }
                            }

                            if (item.Name == undefined || item.Name == "unknown" || item.Name == "Unknown") {
                                name = "<% if (lang == 'zh') { %>未知<% } else { %>Unknown<% } %>";
                            } else {
                                name = item.Name
                            }

                            if (item.Age == undefined || item.Age == "unknown" || item.Age == "Unknown") {
                                age = "&nbsp;";
                            } else if (item.Age >= 12) {
                                const year = item.Age / 12;
                                const month = item.Age - (year * 12);
                                if (month == 0) {
                                    if (lang == "zh") {
                                        age = year + "歲";
                                    } else {
                                        age = year + "Year(s)";
                                    }
                                } else {
                                    if (lang == "zh") {
                                        age = year + "歲" + month + "個月";
                                    } else {
                                        age = year + "Year(s)" + month + "Month(s)";
                                    }
                                }

                            } else {
                                if (lang == "zh") {
                                    age = item.Age + "個月";
                                } else {
                                    age = item.Age + "Month(s)";
                                }
                            }

                            if (Array.isArray(item.Image_URL)) {
                                image = item.Image_URL[0];
                            } else {
                                image = item.Image_URL;
                            }

                            dataElement.insertAdjacentHTML('afterbegin', `
                            <div class="col-md-3 col-6 pet-card">
                                <img src="${image}" onerror="imgError(this)">
                                <div class="pet-info">
                                    <div class="pet-name-breed">
                                        <div style="font-weight: bold; font-size: 14px">${name}</div>
                                        <div class = "pet-details">
                                            <div>${gender}</div>
                                            <div  style="border-right: 1px solid #C5C1C1; height: 15px"></div>
                                            <div>${age}</div>
                                            <div  style="border-right: 1px solid #C5C1C1; height: 15px"></div>
                                            <div>${breed}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `);
                            let clickableCard = document.querySelectorAll(".pet-card");
                            clickableCard[0].addEventListener("click", function () {
                                const url = window.location.href;
                                const urlObj = new URL(url);
                                const newUrl = urlObj.origin + "/" + item._id;
                                window.location.href = newUrl;
                            });
                        });
                    } else {
                        dataElement.insertAdjacentHTML('afterbegin', `
                        <div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%; width: 100%;">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/67b5b0a9015466946c7ef5b9.png" width="100px" height="100px">
                            <div><% if (lang == "zh") { %>未找到總數<% } else { %>Results are not found<% } %></div>
                        </div>
                    `)
                    }
                    maxPage = data.maxPage;
                    if (currentPage != 1) {
                        if (data.adoptionList.length != 16) {
                            document.querySelector(".totalResults").innerHTML = `<% if (lang == 'zh') { %>顯示 ${(1 + 16 * (currentPage - 1))}-${(16 * (currentPage - 1)) + data.adoptionList.length} 的 ${data.totalResult} 隻寵物<% } else { %>Showing ${(1 + 16 * (currentPage - 1))}-${(16 * (currentPage - 1)) + data.adoptionList.length} of ${data.totalResult} pets<% } %> `
                        } else {
                            document.querySelector(".totalResults").innerHTML = `<% if (lang == 'zh') { %>顯示 ${(1 + 16 * (currentPage - 1))}-${16 * (currentPage)} 的 ${data.totalResult} 隻寵物<% } else { %>Showing ${(1 + 16 * (currentPage - 1))}-${16 * (currentPage)} of ${data.totalResult} pets<% } %> `
                        }
                    } else {
                        if (data.adoptionList.length != 16) {
                            document.querySelector(".totalResults").innerHTML = `<% if (lang == 'zh') { %>顯示 1-${data.adoptionList.length} 的 ${data.totalResult} 隻寵物<% } else { %>Showing 1-${data.adoptionList.length} of ${data.totalResult} pets<% } %> `
                        } else {
                            document.querySelector(".totalResults").innerHTML = `<% if (lang == 'zh') { %>顯示 1-16 的 ${data.totalResult} 隻寵物<% } else { %>Showing 1-16 of ${data.totalResult} pets<% } %> `
                        }
                    }
                })
                .catch((error) => {
                    console.error("Error in POST request:", error);
                });
        }

        async function search() {
            let url = new URL(window.location.href);
            let search_params = url.searchParams;
            const searchParams = document.getElementById("keywords").value
            search_params.set("search", searchParams);
            url.search = search_params.toString();
            window.history.pushState("", "", url.toString());
            pagination = [];
            await fetchAdoptionList(url.search);
            const paginationHTML = document.querySelectorAll('#pagination');
            paginationHTML.forEach((item, index) => {
                item.replaceChildren();
                if (maxPage != 0) {
                    let htmlArray = [];
                    for (var i = 0; i < maxPage; i++) {
                        if (currentPage == i + 1) {
                            htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                        } else {
                            htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                        }
                    }
                    item.insertAdjacentHTML("afterbegin", `
                        <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                        </div>
                        <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                            ${htmlArray.join("")}
                        </select>
                        <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                        <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                        </div>
                    `);
                }
            });
        }

        // Toggle the visibility of filter items when the title is clicked
        document.addEventListener("DOMContentLoaded", async function () {
            const selectedFiltersContainer = document.querySelector(".selected-filters .tags");
            const anchor = document.getElementById("anchor");
            anchor.setAttribute("href", window.location.href)
            if (locationParam.length != 0) {
                locationParam.forEach((item) => {
                    const listedItem = document.querySelector(`[data-value=${item}]`);
                    listedItem.classList.add("selected");
                    const tag = document.createElement("span");
                    tag.classList.add("tag");
                    tag.textContent = listedItem.textContent;
                    // Add "remove" icon to the tag
                    const removeIcon = document.createElement("span");
                    removeIcon.classList.add("remove-icon");
                    removeIcon.textContent = "×";
                    tag.appendChild(removeIcon);
                    // Add the tag to the selected filters container
                    selectedFiltersContainer.appendChild(tag);
                    // Handle tag removal
                    removeIcon.addEventListener("click", async function () {
                        const paramValue = listedItem.getAttribute("data-value");
                        let deleteUrl = new URL(window.location.href);
                        let delete_search_params = deleteUrl.searchParams;
                        delete_search_params.delete("location", listedItem.getAttribute("data-value"));
                        deleteUrl.search = delete_search_params.toString();
                        window.history.pushState("", "", deleteUrl.toString());
                        pagination = [];
                        await fetchAdoptionList(deleteUrl.search);
                        const paginationHTML = document.querySelectorAll('#pagination');
                        paginationHTML.forEach((item, index) => {
                            item.replaceChildren();
                            if (maxPage != 0) {
                                let htmlArray = [];
                                for (var i = 0; i < maxPage; i++) {
                                    if (currentPage == i + 1) {
                                        htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                                    } else {
                                        htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                                    }
                                }
                                item.insertAdjacentHTML("afterbegin", `
                                    <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                                    </div>
                                    <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                        ${htmlArray.join("")}
                                    </select>
                                    <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                                    <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                                    </div>
                                `);
                            }
                        });
                        selectedFiltersContainer.removeChild(tag);
                        listedItem.classList.remove("selected");
                    });
                });
            }

            if (animalTypeParam.length != 0) {
                animalTypeParam.forEach((item) => {
                    const listedItem = document.querySelector(`[data-value=${item}]`);
                    listedItem.classList.add("selected");
                    const tag = document.createElement("span");
                    tag.classList.add("tag");
                    tag.textContent = listedItem.textContent;
                    // Add "remove" icon to the tag
                    const removeIcon = document.createElement("span");
                    removeIcon.classList.add("remove-icon");
                    removeIcon.textContent = "×";
                    tag.appendChild(removeIcon);
                    // Add the tag to the selected filters container
                    selectedFiltersContainer.appendChild(tag);
                    // Handle tag removal
                    removeIcon.addEventListener("click", async function () {
                        const paramValue = listedItem.getAttribute("data-value");
                        let deleteUrl = new URL(window.location.href);
                        let delete_search_params = deleteUrl.searchParams;
                        delete_search_params.delete("animal_type", listedItem.getAttribute("data-value"));
                        deleteUrl.search = delete_search_params.toString();
                        window.history.pushState("", "", deleteUrl.toString());
                        pagination = [];
                        await fetchAdoptionList(deleteUrl.search);
                        const paginationHTML = document.querySelectorAll('#pagination');
                        paginationHTML.forEach((item, index) => {
                            item.replaceChildren();
                            if (maxPage != 0) {
                                let htmlArray = [];
                                for (var i = 0; i < maxPage; i++) {
                                    if (currentPage == i + 1) {
                                        htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                                    } else {
                                        htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                                    }
                                }
                                item.insertAdjacentHTML("afterbegin", `
                                    <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                                    </div>
                                    <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                        ${htmlArray.join("")}
                                    </select>
                                    <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                                    <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                                    </div>
                                `);
                            }
                        });
                        selectedFiltersContainer.removeChild(tag);
                        listedItem.classList.remove("selected");
                    });
                });
            }

            if (sexParam.length != 0) {
                sexParam.forEach((item) => {
                    const listedItem = document.querySelector(`[data-value=${item}]`);
                    listedItem.classList.add("selected");
                    const tag = document.createElement("span");
                    tag.classList.add("tag");
                    tag.textContent = listedItem.textContent;
                    // Add "remove" icon to the tag
                    const removeIcon = document.createElement("span");
                    removeIcon.classList.add("remove-icon");
                    removeIcon.textContent = "×";
                    tag.appendChild(removeIcon);
                    // Add the tag to the selected filters container
                    selectedFiltersContainer.appendChild(tag);
                    // Handle tag removal
                    removeIcon.addEventListener("click", async function () {
                        const paramValue = listedItem.getAttribute("data-value");
                        let deleteUrl = new URL(window.location.href);
                        let delete_search_params = deleteUrl.searchParams;
                        delete_search_params.delete("sex", listedItem.getAttribute("data-value"));
                        deleteUrl.search = delete_search_params.toString();
                        window.history.pushState("", "", deleteUrl.toString());
                        pagination = [];
                        await fetchAdoptionList(deleteUrl.search);
                        const paginationHTML = document.querySelectorAll('#pagination');
                        paginationHTML.forEach((item, index) => {
                            item.replaceChildren();
                            if (maxPage != 0) {
                                let htmlArray = [];
                                for (var i = 0; i < maxPage; i++) {
                                    if (currentPage == i + 1) {
                                        htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                                    } else {
                                        htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                                    }
                                }
                                item.insertAdjacentHTML("afterbegin", `
                                    <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                                    </div>
                                    <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                        ${htmlArray.join("")}
                                    </select>
                                    <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                                    <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                                    </div>
                                `);
                            }
                        });
                        selectedFiltersContainer.removeChild(tag);
                        listedItem.classList.remove("selected");
                    });
                });
            }

            if (ageParam.length != 0) {
                ageParam.forEach((item) => {
                    const listedItem = document.querySelector(`[data-value=${item}]`);
                    listedItem.classList.add("selected");
                    const tag = document.createElement("span");
                    tag.classList.add("tag");
                    tag.textContent = listedItem.textContent;
                    // Add "remove" icon to the tag
                    const removeIcon = document.createElement("span");
                    removeIcon.classList.add("remove-icon");
                    removeIcon.textContent = "×";
                    tag.appendChild(removeIcon);
                    // Add the tag to the selected filters container
                    selectedFiltersContainer.appendChild(tag);
                    // Handle tag removal
                    removeIcon.addEventListener("click", async function () {
                        const paramValue = listedItem.getAttribute("data-value");
                        let deleteUrl = new URL(window.location.href);
                        let delete_search_params = deleteUrl.searchParams;
                        delete_search_params.delete("age", listedItem.getAttribute("data-value"));
                        deleteUrl.search = delete_search_params.toString();
                        window.history.pushState("", "", deleteUrl.toString());
                        pagination = [];
                        await fetchAdoptionList(deleteUrl.search);
                        const paginationHTML = document.querySelectorAll('#pagination');
                        paginationHTML.forEach((item, index) => {
                            item.replaceChildren();
                            if (maxPage != 0) {
                                let htmlArray = [];
                                for (var i = 0; i < maxPage; i++) {
                                    if (currentPage == i + 1) {
                                        htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                                    } else {
                                        htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                                    }
                                }
                                item.insertAdjacentHTML("afterbegin", `
                                    <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                                    </div>
                                    <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                        ${htmlArray.join("")}
                                    </select>
                                    <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                                    <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                                    </div>
                                `);
                            }
                        });
                        selectedFiltersContainer.removeChild(tag);
                        listedItem.classList.remove("selected");
                    });
                });
            }

            await fetchAdoptionList(url.search);
            const paginationHTML = document.querySelectorAll('#pagination');
            paginationHTML.forEach((item, index) => {
                item.replaceChildren();
                if (maxPage != 0) {
                    let htmlArray = [];
                    for (var i = 0; i < maxPage; i++) {
                        if (currentPage == i + 1) {
                            htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                        } else {
                            htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                        }
                    }
                    item.insertAdjacentHTML("afterbegin", `
                        <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                        </div>
                        <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                            ${htmlArray.join("")}
                        </select>
                        <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                        <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                        </div>
                    `);
                }
            });
        });

        async function testFunction(index) {
            var x = document.getElementById("page0").value;;
            var y = document.getElementById("page1").value;
            if (index == 0) {
                y = x;
            } else if (index == 1) {
                x = y;
            }
            currentPage = x;
            console.log(currentPage);
            let url = new URL(window.location.href);
            let search_params = url.searchParams;
            search_params.set("page", `${currentPage}`);
            url.search = search_params.toString();
            window.history.pushState("", "", url.toString());
            const paginationHTML = document.querySelectorAll('#pagination');
            paginationHTML.forEach((item, index) => {
                item.replaceChildren();
                if (maxPage != 0) {
                    let htmlArray = [];
                    for (var i = 0; i < maxPage; i++) {
                        if (currentPage == i + 1) {
                            htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                        } else {
                            htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                        }
                    }
                    item.insertAdjacentHTML("afterbegin", `
                        <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                        </div>
                        <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                            ${htmlArray.join("")}
                        </select>
                        <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                        <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                        </div>
                    `);
                }
            });
            await fetchAdoptionList(url.search);
        }


        async function generatePagination(pageNo) {
            currentPage = pageNo
            var x = document.getElementById("page0").value;;
            var y = document.getElementById("page1").value;
            x = currentPage;
            y = currentPage
            console.log(currentPage);
            let url = new URL(window.location.href);
            let search_params = url.searchParams;
            search_params.set("page", `${currentPage}`);
            url.search = search_params.toString();
            window.history.pushState("", "", url.toString());
            const paginationHTML = document.querySelectorAll('#pagination');
            paginationHTML.forEach((item, index) => {
                item.replaceChildren();
                if (maxPage != 0) {
                    let htmlArray = [];
                    for (var i = 0; i < maxPage; i++) {
                        if (currentPage == i + 1) {
                            htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                        } else {
                            htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                        }
                    }
                    item.insertAdjacentHTML("afterbegin", `
                        <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                        </div>
                        <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                            ${htmlArray.join("")}
                        </select>
                        <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                        <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                            <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                        </div>
                    `);
                }
            });
            await fetchAdoptionList(url.search);
        }

        function addFunction(params) {
            const selectedFiltersContainer = document.querySelector(".selected-filters .tags");
            const clearAllButton = document.querySelector(".clear-all-btn");
            const filterItems = document.querySelectorAll(`#${params} li`);
            filterItems.forEach((item) => {
                item.addEventListener("click", async function (index) {
                    if (this.classList.contains("selected")) {
                        return; // Do nothing if already selected
                    }
                    let url = new URL(window.location.href);
                    let search_params = url.searchParams;
                    search_params.append(params, this.getAttribute("data-value"));
                    search_params.set("page", 1);
                    currentPage = 1;
                    url.search = search_params.toString();
                    window.history.pushState("", "", url.toString());
                    // Check if the item is already selected
                    pagination = [];
                    // Add to selected filters
                    this.classList.add("selected");
                    const tag = document.createElement("span");
                    tag.classList.add("tag");
                    tag.textContent = this.textContent;

                    // Add "remove" icon to the tag
                    const removeIcon = document.createElement("span");
                    removeIcon.classList.add("remove-icon");
                    removeIcon.textContent = "×";
                    tag.appendChild(removeIcon);

                    // Add the tag to the selected filters container
                    selectedFiltersContainer.appendChild(tag);

                    // Handle tag removal
                    removeIcon.addEventListener("click", async function () {
                        const paramValue = item.getAttribute("data-value");
                        let deleteUrl = new URL(window.location.href);
                        let delete_search_params = deleteUrl.searchParams;
                        delete_search_params.delete(params, item.getAttribute("data-value"));
                        delete_search_params.set("page", "1");
                        currentPage = 1;
                        deleteUrl.search = delete_search_params.toString();
                        window.history.pushState("", "", deleteUrl.toString());
                        pagination = [];
                        await fetchAdoptionList(deleteUrl.search);
                        const paginationHTML = document.querySelectorAll('#pagination');
                        paginationHTML.forEach((item, index) => {
                            item.replaceChildren();
                            if (maxPage != 0) {
                                let htmlArray = [];
                                for (var i = 0; i < maxPage; i++) {
                                    if (currentPage == i + 1) {
                                        htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                                    } else {
                                        htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                                    }
                                }
                                item.insertAdjacentHTML("afterbegin", `
                                    <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                                    </div>
                                    <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                        ${htmlArray.join("")}
                                    </select>
                                    <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                                    <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                        <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                                    </div>
                                `);
                            }
                        });
                        selectedFiltersContainer.removeChild(tag);
                        item.classList.remove("selected");
                    });
                    await fetchAdoptionList(url.search);
                    const paginationHTML = document.querySelectorAll('#pagination');
                    paginationHTML.forEach((item, index) => {
                        item.replaceChildren();
                        if (maxPage != 0) {
                            let htmlArray = [];
                            for (var i = 0; i < maxPage; i++) {
                                if (currentPage == i + 1) {
                                    htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                                } else {
                                    htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                                }
                            }
                            item.insertAdjacentHTML("afterbegin", `
                                <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                    <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                                </div>
                                <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                    ${htmlArray.join("")}
                                </select>
                                <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                                <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                    <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                                </div>
                            `);
                        }
                    });
                });
            });

            clearAllButton.addEventListener("click", async function () {
                // Remove all tags
                selectedFiltersContainer.innerHTML = "";
                let deleteUrl = new URL(window.location.href);
                let delete_search_params = deleteUrl.searchParams;
                if (delete_search_params.has("animal_type")) {
                    delete_search_params.delete("animal_type");
                }
                if (delete_search_params.has("sex")) {
                    delete_search_params.delete("sex");
                }
                if (delete_search_params.has("location")) {
                    delete_search_params.delete("location");
                }
                if (delete_search_params.has("age")) {
                    delete_search_params.delete("age");
                }

                if (delete_search_params.has("search")) {
                    delete_search_params.delete("search");
                }

                delete_search_params.set("page", "1");
                currentPage = 1;
                deleteUrl.search = delete_search_params.toString();
                window.history.pushState("", "", deleteUrl.toString());
                pagination = [];
                console.log("CLEAR ALL BUTTON CLICKED");
                await fetchAdoptionList(deleteUrl.search);
                const paginationHTML = document.querySelectorAll('#pagination');
                paginationHTML.forEach((item, index) => {
                    item.replaceChildren();
                    if (maxPage != 0) {
                        let htmlArray = [];
                        for (var i = 0; i < maxPage; i++) {
                            if (currentPage == i + 1) {
                                htmlArray.push(`<option value=${i + 1} selected>${i + 1}</option>`)
                            } else {
                                htmlArray.push(`<option value=${i + 1}>${i + 1}</option>`)
                            }
                        }
                        item.insertAdjacentHTML("afterbegin", `
                            <div class="${currentPage == 1 ? 'hide' : ''}" onclick="generatePagination(${currentPage - 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+7.png" width="31px" height="31px">   
                            </div>
                            <select name="page" id="page${index}" onchange="testFunction(${index})" style="height:31px;border:1px solid #E6E6E6;border-radius:2px">
                                ${htmlArray.join("")}
                            </select>
                            <div style="color: #E6E6E6; font-size: 12px"><% if (lang == 'zh') { %>/${maxPage}頁<% } else { %>/ Page ${maxPage}<% } %> </div>
                            <div class="${currentPage == maxPage ? 'hide' : ''}" onclick="generatePagination(${Number(currentPage) + 1})" style="width=31px;height=31px;border=1px solid #E6E6E6;border-radius:2px">
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame+6+(1).png" width="31px" height="31px">    
                            </div>
                        `);
                    }
                });
                // Remove "selected" class from all filter items
                filterItems.forEach((item) => {
                    item.classList.remove("selected");
                });
            });


        }
        //filter group selection interaction
        document.addEventListener("DOMContentLoaded", function () {
            // Handle filter group item clicks
            addFunction("animal_type");
            addFunction("location");
            addFunction("sex");
            addFunction("age");
            document.getElementById("keywords").addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    // Check if Enter key is pressed
                    document.getElementById("search_keyword").click();
                    // Trigger button click
                }
            });
        });

        function toggleHeart(element) {
            element.classList.toggle("filled");
            element.textContent = element.classList.contains("filled") ? "❤️" : "♡";
        }


    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Page</title>
    <style>
        body {
            background-color: orange;
            font-family: Poppins;
        }

        * {
            font-family: Poppins;
        }

        .adoption-page {
            padding: 0px 8%;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .search-section>div {
            display: flex;
        }

        .search-section {
            display: block;
        }

        .filter-sidebar {
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            margin-top: 5px;
            display: block;
        }

        .selected-filters {
            margin-bottom: 20px;
            padding: 15px 0px 15px 15px;
            border-radius: 8px;
            background: white;
            display: flex;
            flex-direction: column;
            /*margin-bottom: 20px;*/
        }

        .selected-filters>div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .selected-filters .tags {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .selected-filters .tag {
            background: white;
            border: 0.55px solid #31BACE;
            color: #31BACE;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 12px;
        }

        .selected-filters .tag .remove-icon {
            margin-left: 5px;
            /* Space between text and "X" */
            cursor: pointer;
        }

        .selected-filters .clear-all-btn {
            background: none;
            border: none;
            color: #C5C1C1;
            font-size: 12px;
            cursor: pointer;
            /*margin-top: 10px;*/
        }

        .filter-group {
            background: white;
            padding: 7px;
            border-radius: 5px;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .filter-group-title {
            font-size: 20px;
            font-weight: bolder;
            cursor: pointer;
            margin-bottom: 10px;
            display: flex;
            /*justify-content: space-between;*/
            /*align-items: center;*/
        }

        .filter-items {
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 10px;
            /*justify-content: space-between;*/
            /*align-items: center;*/
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            color: #A3A3A3;
        }

        .sideBar {
            display: flex;
            width: 100%;
        }

        .emptySidebar {
            display: none;
            opacity: 0.2;
            background: black;
        }

        .filter-items li {
            margin-bottom: 5px;
            font-size: 14px;
        }

        .totalResults {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .petAdvertisementHP {
            display: none;
        }

        .title {
            display: flex;
            justify-content: space-between;
        }

        .filter-items li.selected {
            font-weight: bold;
            color: #31BACE;
        }

        .highlighted-blogs {
            margin-top: 20px;
        }

        .highlighted-blogs .blog-item .blog-title {
            text-align: left;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .blog-item {
            background-color: #ffffff;
            border-radius: 6px;
            padding: 17px;
            text-align: center;
            margin-bottom: 20px;
            position: relative;
        }

        .blog-item-title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .blog-item img {
            max-width: 100%;
            border-radius: 6px;
            margin-bottom: 10px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .blog-item-date {
            font-size: 10px;
            color: rgb(200, 198, 198);
            margin-bottom: 5px;
        }

        .read-more {
            background-color: white;
            font-size: 12px;
            color: rgb(63, 63, 63);
            border: none;
            max-width: 100%;
            padding: 10px 53px;
            box-shadow: 0 2px 6px rgba(23, 21, 21, 0.1);
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .read-more::after {
            content: "✈️";
            margin-left: 5px;
        }

        .highlighted-blogs .blog-pagination {
            display: flex;
            justify-content: center;
            gap: 5px;
        }

        .highlighted-blogs .blog-pagination .dot {
            width: 5px;
            height: 5px;
            background: rgb(200, 198, 198);
            border-radius: 50%;
            cursor: pointer;
        }

        .highlighted-blogs .blog-pagination .dot.active {
            background: rgb(255, 68, 0);
        }

        .adoption-grid {
            padding: 15px
        }

        .HPVersion {
            display: none;
        }

        .ordering-option {
            cursor: pointer;
            color: rgb(184, 184, 184);
            padding: 0 5px;
        }

        .ordering-option:hover {
            text-decoration: underline;
        }

        .pet-card-grid {
            padding-right: 7px;
            /*space for scrollbar*/
            height: 92.5%;
            scrollbar-width: thin;
        }

        .pet-card-grid::-webkit-scrollbar {
            width: 5px;
        }

        .pet-card-grid::-webkit-scrollbar-thumb {
            background-color: rgb(253, 96, 11);
            border-radius: 10px;
        }

        .pet-card-grid::-webkit-scrollbar-track {
            background-color: rgb(190, 190, 190);
        }

        .search-bar {
            display: flex;
            margin-bottom: 7px;
        }

        .pet-card {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            height: 268px;
        }

        .pet-card img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            object-fit: cover;
            max-height: 209px;
        }

        .pet-info {
            /*background: #fff;*/
            padding: 10px;
            border-radius: 8px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            background-color: #f2efe7;
            box-shadow: 0 2px 6px rgba(23, 21, 21, 0.1);
        }

        .petAdvertisement {
            display: inline-block;
            position: relative
        }

        .pet-name-breed {
            font-size: 14px;
            align-items: center;
            line-height: 1.2;
        }

        .pet-details {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            color: #a3a3a3;
        }

        .headerSidebar {
            display: none;
        }

        .heart-icon {
            color: red;
            font-size: 16px;
            cursor: pointer;
            position: absolute;
            top: 47px;
            right: 25px;
            border-radius: 50%;
            padding: 5px;
        }

        .heart-icon.filled {
            color: red;
        }

        .favorite-line {
            font-size: 30px;
            font-weight: 800;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .favorite-line::before {
            margin-right: 5px;
        }

        .search-filter-btn::before {
            content: "🐶";
            margin-right: 5px;
        }

        .search-filter-btn::after {
            content: "▼";
            margin-left: 5px;
        }

        .filterHPButton {
            display: none;
        }

        .filter-sidebar-hp {
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            margin-top: 10px;
            display: block;
            width: 70%;
            height: 100%;
            z-index: 99999;
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            margin-top: 0;
            border-radius: 0;
        }

        .search-btn::before {
            content: "🔍";
            margin-right: 5px;
        }

        .filter-button {
            display: none;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 106, 0);
            width: 150px;
            height: 50px;
            color: white;
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
            border: none;
            font-size: 14px;
            border-radius: 25px;
            z-index: 10;
        }

        .pagination {
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 10px;
            width: 100%;
            margin-top: 15px;
        }

        .paginationHP {
            display: none;
            justify-content: right;
            align-items: center;
            gap: 10px;
            width: 75%;
        }

        .input-search-bar {
            width: 100%;
            margin: 0;
            font-size: 12px;
            border-width: 1px;
            border-color: #C5C1C1;
            border-radius: 0px;
        }

        .page-btn {
            /* margin: 0 5px; */
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: white;
            border: 2px solid rgb(255, 89, 0);
            font-size: 12px;
            text-align: center;
            line-height: 21px;
            cursor: pointer;
            font-weight: bold;
        }

        .page-btn.active {
            background: rgb(255, 89, 0);
            color: white;
        }

        @media (max-width: 575px) {
            .pagination {
                justify-content: center;
                width: auto;
            }

            .pet-card-grid {
                height: auto;
            }

            .headerSidebar {
                display: flex;
                justify-content: space-between;

            }

            .filter-button {
                display: flex;
            }

            .filter-sidebar {
                display: none;
            }

            .favorite-line {
                font-size: 24px;
                font-weight: 800;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                margin-right: 10px;
            }

            .title {
                display: block;
            }

            .totalResults {
                display: flex;
            }

            .petAdvertisement {
                display: none;
            }

            .petAdvertisementHP {
                display: block;
            }

            .HPVersion {
                display: block;
            }

            .search-section {
                display: none;
            }

            .pagination {
                display: none;
            }

            .paginationHP {
                display: flex;
            }

            .emptySidebar {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .filterHPButton {
                display: flex;
                width: 100%;
                justify-content: end;
                align-items: center;
                background-color: white;
                border: none;
            }
        }
    </style>
</head>

<body>
    <div class="adoption-page">
        <!-- Search and Filter Section -->
        <div class="search-filter-container container" style="padding: 0; margin: 0; max-width: 100%;">
            <div style="font-size: 16px; padding-top: 135px; padding-bottom: 20px;">
                <a style="color: #969696; cursor: pointer; text-decoration: none;"
                    onmouseover="this.style.color='#02090A';" onmouseout="this.style.color='#969696';"
                    href="https://uat1.petpetclub.com.hk/index.html">
                    <% if (lang=='zh' ) { %>首頁<% } else { %>Home<% } %>
                </a> > <a href="" id="anchor" style="color: black; text-decoration: none;">
                    <% if (lang=='zh' ) { %>寵物領養<% } else { %>Pet Adoption<% } %>
                </a>
            </div>
            <div class="petAdvertisement" style="padding-right: calc(var(--bs-gutter-x)* .25);">
                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Hero+(1).png" width="100%"
                    height="auto" style="border-radius: 8px;">
                <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: flex;">
                    <div style="width: 50%; height: 100%;"></div>
                    <div style="width: 50%; height: 100%;" class="d-flex justify-content-center  flex-column">
                        <div
                            style="color: white; font-weight: 700; font-family: Arial, Helvetica, sans-serif; font-size: 48px;">
                            <% if (lang=='zh' ) { %>領養代替購買<% } else { %>Adopt instead of buying<% } %>
                        </div>
                        <a style="color: white; background-color: #31BACE; width: 110px; height: 34px; border-radius: 10px; text-decoration: none; margin-top: 10px;"
                            class="d-flex justify-content-center align-items-center"
                            onmouseover="this.style.backgroundColor='#8CA2C0';"
                            onmouseout="this.style.backgroundColor='#31BACE';"
                            href="https://uat1.petpetclub.com.hk/Home.html">
                            <% if (lang=='zh' ) { %>了解更多<% } else { %>Learn more<% } %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="petAdvertisementHP">
                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Hero+(1).png" width="100%"
                    height="auto" style="border-radius: 8px;">
                <div style="width: 100%; height: 100%; background-color: #232426; padding: 20px; border-radius: 10px;"
                    class="d-flex justify-content-center flex-column">
                    <div
                        style="color: white; font-weight: 700; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                        <% if (lang=='zh' ) { %>領養代替購買<% } else { %>Adopt instead of buying<% } %>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a style="color: white; background-color: #31BACE; width: 100%; height: 34px; text-decoration: none; margin-top: 10px;"
                            class="d-flex justify-content-center align-items-center" href="https://petpetclub.com.hk/">
                            <% if (lang=='zh' ) { %>了解更多<% } else { %>Learn more<% } %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sideBar">
                    <div class="emptySidebar"></div>
                    <div class="col-md-3 filter-sidebar">
                        <div class="search-section">
                            <div class="search-bar" style="display: flex; margin-top: 1px;">
                                <input type="text" class="form-control input-search-bar"
                                    placeholder="<% if (lang == 'zh') { %>搜尋......<% } else { %>Search..... <% } %>"
                                    id="keywords">
                                <button class="" id="search_keyword"
                                    style="border:1px solid #C5C1C1; background-color: white; width: 10%; display: flex; justify-content: center; align-items: center; border-left-width: 0px;"
                                    onclick="search()"><img
                                        src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame.png"
                                        width="16px" height="16px"> </button>
                            </div>
                        </div>
                        <div class="headerSidebar">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/6821e007e3965735838b5067.png"
                                    width="20px" height="20px">
                                <div style="margin-left: 10px;">篩選</div>
                            </div>
                            <button
                                style="background-color: white; border: none; width: 20px; height: 20px; padding: 0px;"
                                onclick="closeFilterButton()">
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/6821e07ee3965735838b529a.png"
                                    width="100%" height="100%">
                            </button>
                        </div>
                        <div class="selected-filters">
                            <div style="justify-content: end;">
                                <button class="clear-all-btn">
                                    <% if (lang=='zh' ) { %>全部清除<% } else { %>Clear All<% } %>
                                </button>
                            </div>
                            <div class="tags">
                                <!-- Example tag -->
                                <!-- <span class="tag">地區 <span class="remove-icon">&times;</span></span> -->
                            </div>
                        </div>
                        <!-- Filter Lists -->
                        <div style="border-top: 1px solid #C5C1C1"></div>
                        <div class="filter-group">
                            <div class="d-flex justify-content-between align-items-center"
                                onclick="showList('animal_type')">
                                <div class="filter-group-title">
                                    <% if (lang=='zh' ) { %>種類<% } else { %>Animal Type<% } %>
                                </div>
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/68230d66e3965735838be261.png"
                                    width="17px" height="17px" id="animal_typeList">
                            </div>
                            <ul class="filter-items d-flex" id="animal_type">
                                <li data-value="Dog">
                                    <% if (lang=='zh' ) { %>狗<% } else { %>Dog<% } %>
                                </li>
                                <li data-value="Cat">
                                    <% if (lang=='zh' ) { %>貓<% } else { %>Cat<% } %>
                                </li>
                                <li data-value="Snake">
                                    <% if (lang=='zh' ) { %>蛇<% } else { %>Snake<% } %>
                                </li>
                                <li data-value="Lizard">
                                    <% if (lang=='zh' ) { %>蜥蜴<% } else { %>Lizard<% } %>
                                </li>
                                <li data-value="Tortoise">
                                    <% if (lang=='zh' ) { %>龜<% } else { %>Tortoise<% } %>
                                </li>
                                <li data-value="Rabbit">
                                    <% if (lang=='zh' ) { %>兔<% } else { %>Rabbit<% } %>
                                </li>
                            </ul>
                        </div>
                        <div style="border-top: 1px solid #C5C1C1"></div>
                        <div class="filter-group">
                            <div class="d-flex justify-content-between align-items-center" onclick="showList('sex')">
                                <div class="filter-group-title">
                                    <% if (lang=='zh' ) { %>性別<% } else { %>Gender<% } %>
                                </div>
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/68230d66e3965735838be261.png"
                                    width="17px" height="17px" id="sexList">
                            </div>
                            <ul class="filter-items d-flex" id="sex">
                                <li data-value="M">
                                    <% if (lang=='zh' ) { %>雄性<% } else { %>Male<% } %>
                                </li>
                                <li data-value="F">
                                    <% if (lang=='zh' ) { %>雌性<% } else { %>Female<% } %>
                                </li>
                            </ul>
                        </div>
                        <div style="border-top: 1px solid #C5C1C1"></div>
                        <div class="filter-group">
                            <div class="d-flex justify-content-between align-items-center" onclick="showList('age')">
                                <div class="filter-group-title">
                                    <% if (lang=='zh' ) { %>年齡<% } else { %>Age<% } %>
                                </div>
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/68230d66e3965735838be261.png"
                                    width="17px" height="17px" id="ageList">
                            </div>
                            <ul class="filter-items d-flex" id="age">
                                <li data-value="幼年">
                                    <% if (lang=='zh' ) { %>幼年<% } else { %>Child<% } %> (< 1歲)</li>
                                <li data-value="青年">
                                    <% if (lang=='zh' ) { %>青年<% } else { %>Young<% } %> (1-3歲)
                                </li>
                                <li data-value="成年">
                                    <% if (lang=='zh' ) { %>成年<% } else { %>Adult<% } %> (4-6歲)
                                </li>
                                <li data-value="老年">
                                    <% if (lang=='zh' ) { %>老年<% } else { %>Senior<% } %> (> 7歲)
                                </li>
                            </ul>
                        </div>
                        <div style="border-top: 1px solid #C5C1C1"></div>
                        <div class="filter-group">
                            <div class="d-flex justify-content-between align-items-center"
                                onclick="showList('location')">
                                <div class="filter-group-title">
                                    <% if (lang=='zh' ) { %>領養機構<% } else { %>Adoption Agency<% } %>
                                </div>
                                <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/68230d66e3965735838be261.png"
                                    width="17px" height="17px" id="locationList">
                            </div>
                            <ul class="filter-items d-flex" id="location">
                                <!-- <li data-value="Arc Dog Shelter">香港毛孩領養(ARC)</li> -->
                                <li data-value="CATSOCIETYHK">香港群貓會(CatSociety)</li>
                                <li data-value="HKACC">香港動物領養中心(HKACC)</li>
                                <li data-value="HKHERP">香港兩棲及爬蟲協會(HKHERP)</li>
                                <!-- <li data-value="HKRABBIT">香港兔友協會(HKRABBIT)</li> -->
                                <li data-value="HKSCDA">香港拯救貓狗協會(HKSCDA)</li>
                                <li data-value="唐不甩家族">唐不甩家族(MongrelsFamily)</li>
                                <li data-value="SPCA">愛護動物協會(SPCA)</li>
                                <li data-value="Pawmiseland">告別流浪天地(Pawmiseland)</li>
                                <li data-value="Pawsibility">動保組織(Pawsibility)</li>
                                <li data-value="Pethaven">寵物國度(PetHaven)</li>
                                <!-- <li data-value="Tolobunny">兔廬(Tolobunny)</li> -->
                            </ul>
                        </div>
                        <!-- <div class="filter-group">
                <div class= "filter-group-title"><% if (lang == 'zh') { %>特別分類<% } else { %>Special Classification<% } %></div>
                <ul class="filter-items hide">
                  <li><% if (lang == 'zh') { %>特別種類1<% } else { %>Special category 1<% } %></li>
                  <li><% if (lang == 'zh') { %>特別種類1<% } else { %>Special category 1<% } %></li>
                </ul>
              </div> -->

                        <!-- Highlighted Blog Articles -->
                        <!-- <div class="highlighted-blogs">
                <div class="blog-item">
                  <div class="blog-title">
                    <% if (lang == 'zh') { %>精選博客文章<% } else { %>Featured Blog Posts<% } %>
                    <span class="heart-icon" onclick="toggleHeart(this)">♡</span>
                  </div>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkEava2vQ_QfzMPqs-sbilmN0aCHHTLzIPwQ&s" alt="Blog Image">
                  <div class="blog-item-date">2022年0408日</div>
                  <div class="blog-item-title"> <% if (lang == 'zh') { %>寵物暫托｜美好的體驗...<% } else { %>Pet temporary care｜Wonderful experience...<% } %></div>
                  <button class="read-more"><% if (lang == 'zh') { %>閱讀更多<% } else { %>Read More<% } %></button>
                  <div class="blog-pagination">
                    <span class="dot"></span>
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>
              </div> -->
                    </div>
                    <div class="col-md-9 adoption-grid col-12">
                        <div class="title">
                            <div>
                                <div class="favorite-line">
                                    <% if (lang=='zh' ) { %>寵物領養<% } else { %>Pet Adoption<% } %>
                                </div>
                            </div>
                            <div class="HPVersion">
                                <div class="search-bar" style="display: flex; margin-top: 1px;">
                                    <input type="text" class="form-control input-search-bar"
                                        placeholder="<% if (lang == 'zh') { %>搜尋......<% } else { %>Search..... <% } %>"
                                        id="keywords">
                                    <button class="" id="search_keyword"
                                        style="border:1px solid #C5C1C1; background-color: white; width: 10%; display: flex; justify-content: center; align-items: center; border-left-width: 0px;"
                                        onclick="search()"><img
                                            src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/Frame.png"
                                            width="16px" height="16px"> </button>
                                </div>
                                <button class="filterHPButton" onclick="showFilterButton()">
                                    <img src="https://petpetclub.s3.ap-southeast-1.amazonaws.com/static-content/6821dfcfe3965735838b4e4c.png"
                                        width="20px" height="20px">
                                    <div style="color: #31BACE;">篩選</div>
                                </button>
                            </div>
                            <div class="d-flex justify-content-between"
                                style="margin-top: 10px; margin-bottom: 10px; padding-right: calc(var(--bs-gutter-x)* .5);">
                                <div class="totalResults" style="color: #A3A3A3; font-size: 12px;"></div>
                                <div class="paginationHP" id="pagination"></div>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12 pet-card-grid">
                            <!-- Pet Grid -->
                            <div class="row" id="petList" style="height: 100%;">
                                <!-- Pet Card -->
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="pagination" id="pagination"></div>
                    </div>
                </div>
                <!-- Left Sidebar for Filters -->


                <!-- Main Content for Adoption Grid -->
            </div>
        </div>
    </div>
</body>